.nav-heading {
    color: #414040;
    font-weight: 800;
    font-size: 35px;
    font-family: 'EB Garamond';
}
.nav-list > li{
    margin-left:30px;
    margin-right:30px;
  }
  .nav-arrow-img{
    height:15px ;
    width: 7.5px;
  }
   .nav-btn{
    width: 186px;
    height: 44px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    background-color: #B68C5A;
   }
   /* header banner section */
   .header-banner{
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1320px;
    height: 550px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg,rgb(26, 9, 7) 62%, rgb(72, 67, 169) 0%, rgb(26, 9, 7) 62%),

}
.banner-text{
  
    font-family: 'Poppins';
    padding-top: 110px;
    color: #FFFFFF;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
}
.input-box input[type=text]{
    width: 460px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-left: 20px;
}
/* --------------------------------Main section starets----------------------------------------- */
/* legal section */
.legal-sec-text{
    color: #414040;
    font-weight: 800;
    font-size: 40px;
}
.legal-sec-grid{
   
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
   
}
#special-grid-box{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}

/* contact us */

.grid-form input[type=text]{
    width: 482px;
    height: 53px;
    background: #F3F3F3;
    border-radius: 8px;
    padding-left: 20px;
    border: none;
}
textarea{
    background: #F3F3F3;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 10px;
    border: none;
}
.form-btn{
    margin-top: 15px;
    width: 480px;
    height: 47px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    background-color: #B68C5A;
    border: none;

}